<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irAtras()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{headerMsg}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formData" novalidate (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="Nombre" formControlName="Nombre" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="(formData.controls.Nombre.dirty ) && errorControl.Nombre.errors?.minlength">
      Por favor, escribe un nombre para el plato.
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="cc-number" name="Precio" formControlName="Precio" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Stock</ion-label>
      <ion-input type="cc-number" name="Cantidad" formControlName="Cantidad" required></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group allow-empty-selection="true" name="RadioGroup" formControlName="RadioGroup" (ionChange)="radioGroupChange($event)" #radioGroup>
        <ion-list-header>
          <ion-label>Tipo de plato</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of radio_list" (ionSelect)="radioSelect($event)">
          <ion-label>{{item.text}}</ion-label>
          <ion-radio slot="start" name="{{item.name}}" value="{{item.value}}"
            color="{{item.color}}" disabled="{{item.disabled}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button  [disabled]= "!(formData.valid)" type="submit" expand="block">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
