<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Editar mesas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" size="default" fill="clear" (click)="crearMesa()"> Nueva mesa
    <ion-icon slot="start" name="create"></ion-icon>
  </ion-button>
  <ion-card *ngFor="let mesa of mesas" >
    <div>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col >
                <div style="padding-left: 30px;">
                  Mesa {{mesa.noMesa}}
                </div>
              </ion-col>
              <ion-col class="ion-align-self-end">
                <div style="text-align:right">
                  <ion-button fill="clear" (click)="editarMesa(mesa.idMesa)">
                    <ion-icon style="zoom: 1.5" name="pencil"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear" (click)="eliminarMesa(mesa)">
                    <ion-icon style="zoom: 1.5" name="trash"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <div *ngFor="let dummy of ' '.repeat(mesa.personas).split(''), let x = index">
                  <ion-icon name="pizza-outline" slot="start" style="zoom: 2"></ion-icon>
                </div>
              </ion-item>
            </ion-col>
            <ion-col>
              <div style="text-align:right" >
                {{EstadoComanda(mesa.estadoPedido)}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
